body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin-bottom: 0;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
section{
    margin-bottom: 100px;
}
.center-align{
    text-align: center;
}
.flexibility{
    display: flex;
    margin: 0 30%;
}
.divide-width{
    width:20%;
    margin: 5px;
    padding: 30px 20px;
    box-shadow: 10px 10px 40px gray;
}
.margin-button{
    margin-bottom: 35px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(232, 73, 29), rgb(245, 42, 6));
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}
.header-pic{
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(images/donation7-new.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.color-grey{
    color: grey;
}