body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin-bottom: 0;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
section{
    margin-bottom: 100px;
}
#top-margin{
    margin-top: 100px;
}
.center-align{
    text-align: center;
}
.flexibility{
    display: flex;
    margin: 0 10%;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 120%;
}
.divide-width{
    width:20%;
    margin: 5px;
    padding: 30px 20px;
    box-shadow: 10px 10px 40px gray;
}
#color-food{
    background-color: rgba(59, 243, 163, 0.703);
}
#color-shelter{
    background-color: pink;
}
#color-education{
    background-color: rgb(247, 113, 89);
}
.rights-item{
    margin: 0 10px;
    width: 50%;
    padding: 50px 20px;
    border-radius: 5px;
}
.margin-button{
    margin-bottom: 35px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(232, 73, 29), rgb(245, 42, 6));
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}
.header-pic{
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(images/donation7-new.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.color-grey{
    color: grey;
}
.text-input{
    margin: 0;
    padding: 10px 20px;
}
.foot-font{
    font-family: 'Lobster', cursive;
}
footer{
    margin: 0;
    background-color: rgb(49, 2, 87);
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}